@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
:root {
  --primary-color: rgba(8, 22, 66, 0.952);
  --secondary-color: rgba(243, 162, 11, 0.952);
  --border-color: #d4d4d4;
  --messageOK-color: rgb(7, 105, 7);
}
html{
  box-sizing: border-box;
  font-size: 62.5%; /* 1rem = 16px -> 10px */
}
body, #root{
  margin: 0;
  height: 100vh; /* Relative to the height of the viewport/browser window size */
  font-family: 'Roboto', sans-serif;
}
body, input, select, button, textarea{
  font-size: 1.6rem; /* 10px */
  font-family: Montserrat, Arial, Helvetica, sans-serif;
}
a:hover{
  color: var(--secondary-color);
}
.right{
  text-align: right;
}
.grid-container{ /* https://grid.malven.co/ */
  display: grid; /* https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Grid_Layout/Basic_Concepts_of_Grid_Layout */
  height: 100%;
  grid-template-areas: "header" "main" "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr 5rem; /* Relative to font-size of the root element */
}
a{
  text-decoration: none;
}
a:hover{
  color: var(--secondary-color);
}
header{
  grid-area: header;
  background-color:  var(--primary-color);
  color: white;
  display: flex;
  align-items: center;
}
header a{
  color: white;
  text-decoration: none;
}
main{
  grid-area: main;
}
footer{
  grid-area: footer;
  background-color: rgba(8, 22, 66, 0.952);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content{
  display: flex;
  flex-wrap: wrap;
}
.main{
  flex: 3 60rem;
}
.sidebar{
  flex: 1 20rem;
}
.products{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.products li{
  flex: 0 1 29rem;
  height: 47rem;
  padding: 1rem;
}
.product{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.product img{
  max-width: 37rem;
  max-height: 37rem;
}
.price{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.price div,
.price button{
  text-align: center;
  flex: 1;
}
.price div{
  font-size: 2rem;
}
.btn{
  padding: 1rem;
  border: 0.1rem var(--border-color) solid;
  background-color: white;
  cursor: pointer;
}
.primary{
  background-color: var(--secondary-color);
}
.btn:hover{
  border: 0.1rem grey solid;
}
.filter{
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  margin: 1rem;
  border-bottom: 0.1rem var(--border-color) solid;
}
.filter div{ /* 3 equal size in length */
  flex: 1;
}
.cart{
  display: flex;
  padding: 1rem;
  margin: 1rem;
}
.cart-header{
  border-bottom: 0.1rem var(--border-color) solid;
}
.cart-item{
  padding: 0;
  width: 100%;
  list-style-type: none;
}
.cart-item img{
  width: 5rem;
}
.cart-item li{
  display: flex;
}
.cart-item li div{
  padding: 0.5rem;
}
.cart-item li div:last-child{
  flex: 1;
}
.total{
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.total>div,
.total>button{
  flex: 1;
  font-size: 2rem;
}
form{
  width: 100%;
}
.form-container{
  width: 100%;
  padding: 0;
  list-style-type: none;
}
.form-container li{
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
.form-container li div{
  display: flex;
  justify-content: space-between;
  font-size: 1.5rem;
}
input{
  padding: 1rem;
  border: 0.1rem var(--border-color) solid;
}
.close-btn{
  position: absolute;
  right: 1rem;
  top: 1.5rem;
  z-index: 100;
}
.product-detail{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-height: 96vh;
}
.product-detail img{
  max-height: 100vh;
  max-width: 46rem;
  margin: 0 auto;
}
.product-description{
  flex: 1 1;
  margin: 1rem;
}
.order-detail{
  display: flex;
  flex-direction: column;
  flex-direction: center;
  justify-content: center;
  height: 100%;
}
.order-detail li{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.order-details li div {
  padding: 8px;
}
.order-details .items {
  text-align: right;
  padding: 0;
}
.message {
  color: var(--messageOK-color);
}
